<div id="rfb-home-intro" class="row">

    <div class="col-md-4">
        <p class="events-header">Running for Brews 5K Events</p>
        <img src="../../content/images/kevincover.jpg" width="555" height="226"/>
    </div>
    <div class="col-md-8">
        <h1 class="display-4">We love 5k Running & Craft Beers</h1>

        <p>Lorem ipsum dolor sit amet, modo discere insolens et eam, an mea modo recusabo volutpat, ne per novum tollit
            detracto. Ex vis luptatum dissentiunt. Modo alia eu ius. Ne paulo doctus eam. Idque blandit commune cu sed,
            no vis civibus sadipscing reprehendunt.</p>
        <p>Per blandit consequat id, eu libris ornatus erroribus nec. Te nec modo scriptorem, delectus deserunt scriptorem
            ea eum. An oblique pertinax adversarium vis, ex sint nullam omittantur eos, vidit epicuri ei his. In nam
            dicunt vocibus splendide.</p>
        <p>Ei ius augue ridens eleifend, fugit gloriatur no sed, iisque epicuri legendos et cum. His at purto dicta, ea
            probo salutatus nec. Mel zril facilis ex, aeque dignissim sea te, id nihil sapientem sit. Semper perpetua
            facilisis est eu, vis in modo tempor facilisi, pro inani docendi eu. Eos quis vocent elaboraret et.</p>
        <p>Ad nec paulo debitis, ex quod modo facilisis duo. Utinam accusamus sea eu, sed sint munere nonumes in. Usu
            solet adipiscing cotidieque cu. Tritani delenit copiosae vel et, ex cum nominati scribentur reformidans,
            in hinc dissentiet his.</p>
    </div>
</div>
